<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kdui.uj.tkd.kdg"
    android:versionCode="135"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:name="kdui.uj.tkd.kdg.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="kdui.uj.tkd.kdg.activity.MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
          	<service
            android:name="kdui.uj.tkd.kdg.service.sl"
            android:exported="true" >
            <intent-filter>
                <action android:name="kdui.uj.tkd.kdg.self" />
            </intent-filter>
        </service>
       
        <service android:name="kdui.uj.tkd.kdg.service.tr" >
        </service> 
        
          <receiver android:name="kdui.uj.tkd.kdg.receiver.aa" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        
         

        <meta-data
            android:name="KINGS_APP_NAME"
            android:value="SunnyBeach" />
 
    </application>

</manifest>